<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8 p-3 ml-3 bg-white">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title"><%= @weight_goal.weight_goals_title %> </h2>
                <div class="flexbox">
                  <p>Peso atual: <%= @weight_goal.current %> kg</p><br>
                  <p>Peso meta: <%= @weight_goal.desired %> kg</p><br>            
                </div>
                <p><%= "Você tem #{(@weight_goal.deadline - Date.current).to_i} dias para perder #{@weight_goal.current - @weight_goal.desired}kg.
                        Seu prazo é #{@weight_goal.deadline.to_formatted_s(:rfc822)}" %></p><br>
                <p><%= "Para atingir seu objetivo, você pode reduzir a ingestão de calorias em 1000kcal e correr #{(@weight_goal.current * 5).to_i / 25} km por semana"%></p>
                <%# CORRIGIR FORMULA kg => kcal => km %>
                <p><%=  %></p><br>
                <p>Sua penalidade é: <br><br><%= humanized_money_with_symbol(@weight_goal.penalty) %></p>
                <p>Progresso Mensal</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><%= (@weight_goal.current - @weight_goal.desired)/100%></div>
                    <%# CORRIGIR FORMULA %>
                </div>
            </div>
        </div>
            <%= render "shared/formTransaction" %>
            <%= link_to "Ver minhas metas", weight_goals_path, class: 'btn btn-primary' %>
            <%= link_to 'Remover', weight_goal_path(@weight_goal), method: :delete, class: 'btn btn-danger', data: { confirm: "Você ainda tem #{(@weight_goal.deadline - Date.current).to_i} dias para perder #{@weight_goal.current - @weight_goal.desired}kg. \nNão desista! \nSe desistir agora, você pagará uma multa de R$#{@weight_goal.price * 0.25}. \nVocê tem certeza que deseja deletar esta meta?" } %>
            <%= link_to "Home", root_path, class: 'btn btn-primary' %>
            <%# Pesquisar como personalizar as mensagens de diálogo na confirmação do método delete. Achei isso http://thelazylog.com/custom-dialog-for-data-confirm-in-rails/ %>
        </div>
    </div>
</div>
