<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3 bg-white">
            <h3 class="mt-3 mb-3 text-dark">My commitments</h3>
            <h3 class="mt-3 mb-3 text-dark">My commitments</h3>
            <h3 class="mt-3 mb-3 text-dark">My commitments</h3>
            <h3 class="mt-3 mb-3 text-dark">My commitments</h3>
        </div>

        <div class="col-sm-8 p-3 ml-3 bg-white">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Meta do <%= current_user.name %> </h2>
                <%= format_name(@user) %>
                <p>Peso atual : <%= @weight_goal.current %> kg</p><br>
                <p>Peso meta : <%= @weight_goal.desired %> kg</p><br>
                <p><%= @weight_goal.deadline %></p><br>
                <p>Sua penalidade é : <br><br><%= humanized_money_with_symbol(@weight_goal.price) %></p>
                <p>Progresso Mensal</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>
            <%= link_to "Ver minhas metas", weight_goals_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>

