  <%= render 'shared/navbar' %>
    <section id="home" class="d-flex" style="margin-top: 60px"> <!-- home -->
        <div class="container align-self-center"><!-- inicio container -->
          <div class="row"> <!-- inicio row -->
            <div class="col-md-12 capa">
              <h1 id="effect">Assuma o controle.<br>Seja seu próprio ídolo.</h1>

              <form method="GET" action="<%= new_goal_path %>">
                    <div class="dropdown_goal">
                      <input type="text" id="goal" name="goal" class="form-select form-select-lg mb-3" placeholder="Qual é a sua meta?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qual é a sua meta?'">
                    </div>
                    <input type="submit" class="new-b" value="Assumir compromisso">
              </form>

            </div>
          </div><!-- fim row -->
        </div> <!-- fim container -->
    </section> <!-- fim home -->

      <section id="saiba" class="caixa"> <!-- inicio da seção saiba -->
        <div class="container">
          <div class="row video">
            <div class="col-md-6 d-flex">
              <div class="align-self-start">
                  <h2>O que é o Ulisses?</h2>
                  <p>
                  Ulisses é uma plataforma de compromisso para ajudá-lo a atingir seus objetivos.Inspirado nas dificuldades que as pessoas têm em conseguir cumprir suas metas.
                  </p>
              </div>
            </div>
              <div class="col-md-6">
                <h3>Vídeo: Motivacional</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wnHW6o8WMas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div> 
          </div>
        </div>
      </section><!-- fim da seção saiba -->

      <section id="recursos" class="caixa"> <!-- inicio recursos -->
        <div class="container"> <!-- inicio container -->
          <div class="row"> <!-- inicio row -->
            <div class="col-md-4">
              <h2>Fácil</h2>
              <h3>Buscar</h3>
              <p>Já sabe o quer fazer hoje? Quer mudar seus hábitos?</p>

              <h3>Navegar</h3>
              <p>Veja como dar um up na sua vida, temos a ferramenta para você!</p>

              <h3>Descobrir</h3>
              <p>Veja o que seus amigos estão achando sobre sua mudança.</p>
            </div>
          </div><!-- fim row -->
        </div><!-- fim container -->
      </section><!-- fim recursos -->

      <footer>
        <div class="container"> 
          <div class="row">
            <div class="col-md-2">
              <h3>Ulisses</h3>
            </div>
            <div class="col-md-2">
              <h4>Company</h4>
              <ul class="navbar-nav">
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Empregos</a></li>
                <li><a href="#">Imprensa</a></li>
                <li><a href="#">Novidades</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <h4>Comunidade</h4>
              <ul class="navbar-nav">
                <li><a href="#">Artistas</a></li>
                <li><a href="#">Desenvolvimento</a></li>
                <li><a href="#">Marcas</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <h4>Links Uteis</h4>
              <ul class="navbar-nav">
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Presentes</a></li>
                <li><a href="#">Player da web</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li>
                  <%= image_tag("facebook.png") %>
                </li>
                <li>
                  <%= image_tag("twitter.png") %>
                </li>
                <li>
                  <%= image_tag("instagram.png") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
