  <%= render 'shared/navbar' %>
    <section id="home" class="d-flex"> <!-- home -->
        <div class="container align-self-center" style="margin-top: 57px"><!-- inicio container -->
          <div class="row"> <!-- inicio row -->
            <div class="col-md-12 capa">
              <h1 id="effect">Assuma o controle.<br>Seja seu próprio ídolo.</h1>

              <form method="GET" action="<%=  new_goal_path  %>">
                    <div class="dropdown_goal">
                      <input type="text" id="goal" name="goal" class="form-select form-select-lg mb-3" placeholder="Qual é a sua meta?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qual é a sua meta?'">
                    </div>
                    <input type="submit" class="new-b" value="Assumir compromisso">
              </form>

            </div>
          </div><!-- fim row -->
        </div> <!-- fim container -->
    </section> <!-- fim home -->

<section id="saiba" class="caixa"> <!--inicio secão card -->
  <div class="container-card">
    <h2 style="color: gray;text-align: center;font-size: 2.8rem"> Comentários </h2>
    <p class="text-center">Alguns comentários sobre Ulisses</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="profile">
                    <div class="pt-3 text-uppercase name"> Karina Nascimento </div>
                    <div class="designation">Arquiteta Design</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> Queria muito realizar uma viagem para Europa e sempre arrumava desculpas para deixar pra depois, descobri no site que poderia colocar dinheiro para ajudar ongs...e isso me incentivou a saber mais sobre o site e realizar esse sonho de viajar. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" class="profile">
                    <div class="pt-3 text-uppercase name"> Marcelo Candido</div>
                    <div class="designation">Full Stack Developer Rails</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> Conheci a plataforma através de um amigo e com o objetivo para parar de fumar em 1ano. Tive muito incentivo do meu amigo como arbitro para conseguir executar esse desafio. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
               <div class="face front-face"> <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" alt="" class="profile">
                    <div class="pt-3 text-uppercase name"> Roberto Andrade </div>
                    <div class="designation">Programador</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> Sempre tive muita dificuldade em perder peso e graças a plataforma Ulisses consegui emagrecer 10kg em 6 meses com meu dinheiro em risco. Para quem busca desafio o Ulisses sem dúvidas e o caminho ideal. </div> <span class="fas fa-quote-right"></span>
                </div> 
            </div>
        </div>
    </div>
</div>
</section><!-- fim seção card -->

      
      <section id="recursos" class="caixa"> <!-- inicio recursos -->
        <div class="container"> <!-- inicio container -->
          <div class="row"> <!-- inicio row -->
            <div class="col-md-4">
              <h2>Fácil</h2>
              <h3>Buscar</h3>
              <p>Já sabe o quer fazer hoje? Quer mudar seus hábitos?</p>

              <h3>Navegar</h3>
              <p>Veja como dar um up na sua vida, temos a ferramenta para você!</p>

              <h3>Descobrir</h3>
              <p>Veja o que seus amigos estão achando sobre sua mudança.</p>
            </div>
          </div><!-- fim row -->
        </div><!-- fim container -->
      </section><!-- fim recursos -->

      <section id="saiba" class="caixa"> <!-- inicio da seção saiba -->
        <div class="container">
          <div class="row video">
            <div class="col-md-6 d-flex">
              <div class="align-self-start">
                  <h2>O que é o Ulisses?</h2>
                  <p>
                  Ulisses é uma plataforma de compromisso para ajudá-lo a atingir seus objetivos.Inspirado nas dificuldades que as pessoas têm em conseguir cumprir suas metas.
                  </p>
              </div>
            </div>
              <div class="col-md-6">
                <h3>Vídeo: Motivacional</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wnHW6o8WMas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div> 
          </div>
        </div>
      </section><!-- fim da seção saiba -->

      <footer>
        <div class="container"> 
          <div class="row">
            <div class="col-2">
              <div class=""><%= image_tag "SOS Mata Atlantica.png", style: 'width: 50px;' %></div>
              <div class="mt-4"><%= image_tag "fraternindade.png", style: 'width: 90px;' %></div>
              <div class="mt-4"><%= image_tag "Atados logo.png", style: 'width: 90px;' %></div>
            </div>
            <div class="col-2 ms-3 ps-3">
              <h3>Ulisses</h3>
              <ul class="navbar-nav">
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Empregos</a></li>
                <li><a href="#">Imprensa</a></li>
                <li><a href="#">Novidades</a></li>
              </ul>
            </div>
            <div class="col-2">
              <h3>Comunidade</h3>
              <ul class="navbar-nav">
                <li><a href="#">Artistas</a></li>
                <li><a href="#">Desenvolvimento</a></li>
                <li><a href="#">Marcas</a></li>
              </ul>
            </div>
            <div class="col-2">
              <h3>Links Uteis</h3>
              <ul class="navbar-nav">
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Presentes</a></li>
                <li><a href="#">Player da web</a></li>
              </ul>
            </div>
            <div class="col-3">
              <ul>
                <li>
                  <%= image_tag("facebook.png") %>
                </li>
                <li>
                  <%= image_tag("twitter.png") %>
                </li>
                <li>
                  <%= image_tag("instagram.png") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
