<%= render 'shared/navbar2' %>

<div class="container rounded-3 p-4">
  <div class="row">
    <div class="col bg-white text-center p-3">
        <h4>Tempo Restante</h4>
        <h2 attr-deadline="<%= @goal.deadline %>" id="countdown" class=" text-center text-dark rounded-3"></h2>
    </div>
    <div class="col bg-info p-3 text-center">
        <h2 class="text-center text-dark"><%= @goal.title%></h2>
    </div>
  </div>
  <div class="row">
    <div class="col bg-danger text-center text-white p-3">
        <h2 class="text-center text-white">Penalidade</h2>
        <h2 class="text-center text-white"><%= humanized_money_with_symbol(@goal.penalty) %></h2>
    </div>
    <div class="col bg-dark text-center p-3">
        <h2 class="text-center text-white">Prazo</h2>
        <h2 class="text-center text-white"><%= @goal.deadline.strftime("%d/%m/%Y")%></h2>
        <%# <h2 class="text-center text-dark"> + desafio</h2> %>
        <%# <h1><%= link_to "Home", root_path, class: 'btn btn-primary btn-lg'%></h1>
    </div>
    <div class="col bg-white text-center p-3">
        <h2 class="text-center text-dark">Status</h2>
        <h2 class="text-center text-danger"><%= @goal.done ? "FEITO" : "PENDENTE"%></h2>
                
        <% if @goal.done == false %>

        <%= link_to 'feito', done_goal_path(@goal), class: 'btn btn-primary',
                method: :done %>
        <% else %>

        <%= link_to 'failed', failed_goal_path(@goal), class: 'btn btn-danger',
                method: :failed %>
        <% end %>
        <%#= link_to 'feito' done_goal_path(done), class: btn btn-primary,
        #     method: :done,
        #     data: true
        # %>
    </div>
  </div>
</div>

    <%# EXEMPLO DE STIMULUS IN RAILS %>

    <%# <%= content_tag :div, nil, data: {controller: "hello"} do %>
        <%# <h1 data-target="hello.heading">This is the home page</h1> %>
        <%# <div class="btn btn-primary" data-action="click->hello#greet">Say Hello</div> %>
    <%# <% end %>