<%= render 'shared/navbar2' %>
<div id="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-3 mt-5">
      <div class="text-center mt-3 mb-3">
        <h4>Minhas Metas - Perda de Peso</h4>
      </div>
        
          <div><% @goals.each do |goal| %>
            <ul>
              <div class="col-6 col-md-6 mt-5">
                <div>
                <div class="body">
                  <%# <h5 class="card-title"><%= goal.title %></h5>
                  <%# <p class="card-text">Peso atual: <%= goal.current %></p>
                  <%# <p class="card-text">Meta: <%= goal.desired %></p>
                  <p class="card-text">Tempo restante: <%= (goal.deadline - Date.today).to_i %> dia(s)</p>
                  <p class="text">Penalidade: <%= number_to_currency(goal.penalty, unit: "R$", separator: ",", delimiter: ".")%> </p>
                  <%= link_to "Detalhes", goal_path(goal.id), class: "btn btn-primary" %>
                  <%= link_to "Remover", goal_path(goal.id), method: :delete, 'data-toggle' => 'modal', 'data-target' => '#delete_modal' %>
                    <%# data: { confirm: "Você ainda tem 10 dias para perder 20kg.
                    #\nNão desista! \nSe desistir agora, você pagará uma multa de #{number_to_currency(goal.penalty * 0.25, unit: "R$", separator: ",", delimiter: ".")}.
                     #\nVocê tem certeza que deseja deletar esta meta?" } %>
                </div>
              </div>
            </div>
          </ul>
          <% end %>
        </div>
        
      <%= link_to "Criar nova meta", new_goal_path, class: 'new-b' %>
      <%= link_to "Home", root_path, class: 'new-b' %>
    </div>
  </div>
</div>


<div class="container">
<%= month_calendar(events: @goals, attribute: :deadline) do |date, goals| %>
  <%= date %>
  <% goals.each do |goal| %>
  <span><%= goal.title %></span>
  <% end  %>
<% end %>
</div>
