<%= render 'shared/navbar2' %>
<section>
  <div class="container"> <!-- Inicio container -->
    <div class="row">
      <% @goals.each do |goal| %>
      <div class="col-md-4">
         <div class="cards"> 
            <div class="card">
                <h3 class="card-title"><%= goal.title %></h3>
                <%= image_tag "assets/#{rand(4)}.jpg", style: 'height: 400px' %>
                <p class="card-desc">Assuma o compromisso <%= goal.title %><br><br>
                <%= link_to "#{goal.title}\n (#{goal.done ? 'FEITO' : 'PENDENTE'})", goal_path(goal.id), class: "btn btn-warning text-white", style: 'font-size: 1.6rem;' %> <br><br>
                <%= link_to "Remover", goal_path(goal.id), method: :delete, class: "btn btn-warning text-white", style: 'font-size: 1.6rem;' %></p>
            </div>
         </div>
      </div> 
      <% end %>
    </div> 
    </div>
  </div><!-- fim do container -->
</section><!-- fim seção card -->


