<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8 p-3 ml-3 bg-white">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title"><%= @goal.title %> </h2>
                <div class="flexbox">
                </div>
                <p><%=  %></p><br>
                <p>Sua penalidade é: <br><br><%= humanized_money_with_symbol(@goal.penalty) %></p>
                <p>Progresso Mensal</p>
                <div class="progress">
                </div>
            </div>
        </div>
            <%= render "shared/formTransaction" %>
            <%= link_to "Ver minhas metas", goals_path, class: 'btn btn-primary' %>
            <%# <%= link_to 'Remover', goal_path(@goal), method: :delete, class: 'btn btn-danger', data: { confirm: "Você ainda tem #{(@goal.deadline - Date.current).to_i} dias para perder #{@goal.current - @goal.desired}kg. \nNão desista! \nSe desistir agora, você pagará uma multa de R$#{@goal.price * 0.25}. \nVocê tem certeza que deseja deletar esta meta?" } %>
            <%= link_to "Home", root_path, class: 'btn btn-primary' %>
            <%# Pesquisar como personalizar as mensagens de diálogo na confirmação do método delete. Achei isso http://thelazylog.com/custom-dialog-for-data-confirm-in-rails/ %>
        </div>
    </div>
</div>
