<div id="container-box">
    <div class="row">
        <div class="col-sm-8 p-3 ml-3">
        <div class="mb-3">
            <div class="body">
                <h2 class="title"><%= @goal.title %> </h2>
                <div class="flexbox">
                  <%# <p>Peso atual: <%= @goal.current kg</p><br> %>
                  <%# <p>Peso meta: <%= @goal.desired kg</p><br> %>
                </div>
                <%# <p><%= "Você tem #{(@goal.deadline - Date.current).to_i} dias para perder #{@goal.current - @goal.desired}kg.
                        Seu prazo é #{@goal.deadline.to_formatted_s(:rfc822)}"</p><br>
                <%# <p><%= "Para atingir seu objetivo, você pode reduzir a ingestão de calorias em 1000kcal e correr #{(@goal.current * 5).to_i / 25} km por semana"</p> %>
                <%# CORRIGIR FORMULA kg => kcal => km %>
                <p><%=  %></p><br>
                <p>Sua penalidade é: <br><br><%= humanized_money_with_symbol(@goal.penalty) %></p>
                <p>Progresso Mensal</p>
                <div class="progress">
                    <%# <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><%= (@goal.current - @goal.desired)/100</div> %>
                    <%# CORRIGIR FORMULA %>
                </div>
            </div>
        </div>
            <%= link_to "Ver minhas metas", goals_path, class: 'btn btn-primary' %>
            <%# <%= link_to 'Remover', goal_path(@goal), method: :delete, class: 'btn btn-danger', data: { confirm: "Você ainda tem #{(@goal.deadline - Date.current).to_i} dias para perder #{@goal.current - @goal.desired}kg. \nNão desista! \nSe desistir agora, você pagará uma multa de R$#{@goal.price * 0.25}. \nVocê tem certeza que deseja deletar esta meta?" } %>
            <%= link_to "Home", root_path, class: 'btn btn-primary' %>
            <%# Pesquisar como personalizar as mensagens de diálogo na confirmação do método delete. Achei isso http://thelazylog.com/custom-dialog-for-data-confirm-in-rails/ %>
        </div>
    </div>
</div>
