<%= render 'shared/navbar2' %>

<div class="container rounded-3 p-4">
  <div class="row">
    <div class="col bg-white text-center p-3">
        <h4>Tempo Restante</h4>
        <h2 attr-deadline="<%= @goal.deadline %>" id="countdown" class=" text-center text-dark rounded-3"></h2>
    </div>
    <div class="col bg-info p-3 text-center">
        <h2 class="text-center text-dark"><%= @goal.title%></h2>
    </div>
  </div>
  <div class="row">
    <div class="col bg-danger text-center text-white p-3">
        <h1>Penalidade</h1>
        <h2 class="text-center text-white"><%= humanized_money_with_symbol(@goal.penalty) %></h2>
    </div>
    <div class="col bg-dark text-center p-3">
      <h2 class="text-white text-center">Reveja suas metas</h2>
        <h1><%= link_to "Ver minhas metas", goals_path, class: 'btn btn-info btn-lg'%></h1>
    </div>
    <div class="col bg-white text-center p-3">
        <h2 class="text-center text-dark"> + desafio</h2>
        <h1><%= link_to "Home", root_path, class: 'btn btn-primary btn-lg'%></h1>
    </div>
  </div>
</div>

    <%# EXEMPLO DE STIMULUS IN RAILS %>

    <%# <%= content_tag :div, nil, data: {controller: "hello"} do %>
        <%# <h1 data-target="hello.heading">This is the home page</h1> %>
        <%# <div class="btn btn-primary" data-action="click->hello#greet">Say Hello</div> %>
    <%# <% end %>