<%= render 'shared/navbar2' %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 bg-white p-3 mt-5">
        <div class="mb-3">
            <div>
                <div id="clock"></div>
            </div>
            <script>
                src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous">
            </script>
            <div class="body">
                <h2 class="title"><%= @goal.title %> </h2>
                <div class="flexbox">
                </div>
                <p><%=  %></p><br>
                <p>Sua penalidade é: <br><br><%= humanized_money_with_symbol(@goal.penalty) %></p>
                <p>Progresso Mensal</p>
            </div>
        </div>
            <%= link_to "Ver minhas metas", goals_path, class: 'btn btn-primary' %>
            <%= link_to "Home", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
