<%= render 'shared/navbarReferee' %>

<div class="container rounded-3 p-4">
  <div class="row">
    <div class="col-7 bg-white text-center p-3">
        <h2 class="text-center text-dark">Acabou o tempo! <br> </h2>
    </div>
    <div class="col-5 bg-info p-3 text-center">
        <h2 class="text-center text-dark"><%= @goal.title%></h2>
    </div>
  </div>
  
  <div class="row">

    <%= link_to done_goal_path(@goal, done: false),
      style: 'text-decoration: none !important;
              width: 30%;
              padding-right: 0px;
              padding-left: 0px;' do %>
      <div class="col bg-danger text-center text-white p-3">
          <h1 class="text-center text-dark">NÃO</h1>
      </div>
    <% end %>

    <div class="col bg-dark text-center p-3">
        <h2 class="text-center text-white">EXPIRADO !<br> <%= @user.name%> cumpriu sua meta?</h2>
        <h2 class="text-center text-danger"><%= @goal.done ? "FEITO" : "PENDENTE" %></h2>
        <%# <h2 class="text-center text-dark"> + desafio</h2> %>
        <%# <h1><%= link_to "Home", root_path, class: 'btn btn-primary btn-lg'%></h1>
    </div>
    
    <%= link_to done_goal_path(@goal, done: true),
      style: 'text-decoration: none !important;
              width: 30%;
              padding-right: 0px;
              padding-left: 0px;' do %>
      <div class="col bg-success text-center p-3">
        <h1 class="text-center text-dark">Sim</h1>
      </div>
    <% end %> 
  </div>
</div>
